<div class="row">
  <% flash.each do |key, value| %>
    <div class="callout <%= key %>" data-closable="slide-out-right">
      <%= value %>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
  <% end %>
<h1>Students</h1>
<%= form_tag students_path , :method => 'get' do%>
  <%= text_field_tag :search,params[:search] ,placeholder: 'Search by name'%>
  <%= submit_tag 'Search'%>
<%end%>
<table class="hover">
  <thead>
    <tr>
      <th>Stud</th>
      <th>Name</th>
      <th>Address</th>
      <th>Mobile no</th>
      <th>Course</th>
      <th>Gender</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.reg_no %></td>
        <td><%= student.name %></td>
        <td><%= student.address %></td>
        <td><%= student.mobile_no %></td>
        <td><%= student.course %></td>
        <td><%= student.gender %></td>
        <td><%= student.email %></td>
        <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, student %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_student_path(student) %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h3>Import Student details</h3>
<%= form_tag import_students_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Students"%>
<% end %>

<%= link_to 'New Student', new_student_path %>

</div>
</div>